$border-radius: 0.4rem !default;
$border-width: 0.2rem !default;

$font-size-base: 1rem !default;

$alert-padding-y: 0.5rem !default;
$alert-padding-x: 1.25rem !default;
$alert-margin-bottom: 0.8rem !default;

$alert-border-width: $border-width !default;
$alert-border-radius: $border-radius !default;
